@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.disable-select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently supported by any browser but < IE9 */
    cursor: pointer;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth !important;
}

body{
    background: #000 !important;
}

.container .head{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 50px;
    z-index: 1000;
}

.container .head img{
    width: 15%;
}

.container .head a{
    color: #fff;
    text-decoration: none;
    background-color: #e50914;
    padding: 8px 18px;
    border-radius: 5px;
}

.banner{
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
    z-index: 1;
    background: linear-gradient(to bottom, #000, transparent);
}

.banner:after{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 400px;
    z-index: 1;
    background: linear-gradient(to top, #000, transparent);
}

.banner .fit{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}

.banner .box{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}

.banner .box .heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.banner .box .heading h2{
    font-size: 3.205rem;
    color: #fff;
    font-weight: 900;
    letter-spacing: 2px;
    width: 80%;
}

.banner .box .heading h5{
    font-size: 1.625rem;
    color: #fff;
    font-weight: 400;
    padding: 1rem 0;
}

.banner .box .heading p{
    font-size: 1.2rem;
    color: #fff;
    font-weight: 500;
    padding: 15px 0;
    padding-bottom: 20px;
}

.banner .box .search{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.banner .box .search input{
    font-size: 16px;
    border: 1px solid #8c8c8c;
    outline: none;
    color: #000;
    border-radius: 4px;
    padding: 0px 10px 0 10px;
    min-width: 400px;
    height: 60px;
    align-items: center;
}

.banner .box .search a{
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-weight: 400;
    letter-spacing: 0.1px;
    border-radius: 4px;
    background: #e50914;
    box-shadow: 0 px 0 rgba(0, 0, 0, 0.45);
    font-size: 1.625rem;
    line-height: 60px;
    min-width: 310px;
    padding: 0 30px;
    text-align: center;
}

.part1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2rem 4rem;
    border-bottom: 0.6rem solid #111;
}

.part1 .text{
    width: 40%;
}

.part1 .text h1{
    font-size: 3.3rem;
    font-weight: 900;
    letter-spacing: 2px;
    padding-bottom: 10px;
    color: #fff;
}

.part1 .text p{
    font-size: 1.7rem;
    color: #fff;
}

.part1 .img{
    width: 45%;
}

.part1 .img img{
    width: 100%;
}


.part2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2rem 6rem;
    border-bottom: 0.6rem solid #111;
}

.part2 .text{
    width: 48%;
}

.part2 .text h1{
    font-size: 3.3rem;
    font-weight: 900;
    letter-spacing: 2px;
    padding-bottom: 10px;
    color: #fff;
}

.part2 .text p{
    font-size: 1.7rem;
    color: #fff;
}

.part2 .img{
    width: 45%;
}

.part2 .img img{
    width: 100%;
}


.part3{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2rem 6rem;
    border-bottom: 0.6rem solid #111;
}

.part3 .text{
    width: 40%;
}

.part3 .text h1{
    font-size: 3.3rem;
    font-weight: 900;
    letter-spacing: 2px;
    padding-bottom: 10px;
    color: #fff;
}

.part3 .text p{
    font-size: 1.7rem;
    color: #fff;
}

.part3 .img{
    width: 45%;
}

.part3 .img img{
    width: 100%;
}

.list{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.list h1{
    color: #fff;
    font-size: 3rem;
    padding: 3rem 0 4rem 0;
}

.title{
    background: #303030;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    font-size: 1.7rem;
    font-weight: 400;
    text-decoration: dashed;
}

.icon{
    width: 20px;
    position: relative;
}

.icon::before, .icon::after{
    content: '';
    position: absolute;
    width: 20px;
    height: 3px;
    background: #fff;
    top: -1.5px;
}

.icon::after{
    transform: rotate(90deg);
    transition: 0.5s linear;
}

.text-faq{
    background: #303030;
    color: #fff !important;
    line-height: 35px;
    margin: 3px 0;
    opacity: 0;
    height: 0;
    font-size: 1.5rem;
    font-weight: 100;
    letter-spacing: 0.5px;
}

.item:target .text-faq{
    opacity: 1;
    height: auto;
    padding: 20px 30px;
    margin: 0;
    border-top: 2px solid #000;
    margin-bottom: 6px;
}

.item:target .icon::after{
    transform: rotateY(90deg);
}




.container-fluid{
    padding: 0px 70px 0px 50px !important;
}


.footer{
    position: relative;
    margin-top: 100px;
    margin-bottom: 80px;
}

ul{
    list-style: none;
    font-size: 100%;
    color: rgba(255, 255, 255, 0.367);
    font-weight: 100;
}

.li-footer:hover{
    cursor: pointer;
    color: #fff;
}

.service-btn{
    background-color: transparent;
    margin-left: 30px;
    color: rgba(255, 255, 255, 0.367);
    border: 1px solid rgba(255, 255, 255, 0.367);
    font-size: 15px;
    font-weight: 100;
}

.copy-right{
    font-size: 15px;
    font-weight: 200;
    color: rgb(249, 14, 14);
    margin-left: 28px;
}